
.App{
  font-size: 1.5em;
  background-color: #070421;
  color: #60D7AC;
  min-height:800px ;
  font-family: 'Roboto Mono', monospace;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-style: solid;

  --nr:8; /* number of rows */
  --nc:10; /* number of columns */
  --b:2px; /* border length */

  
  --g:transparent calc(100% - var(--b)),#454059 0;
  background:
    linear-gradient(to right, var(--g)),
    linear-gradient(to bottom,var(--g)),
    #070421;
  background-size:
    calc((100% - var(--b)*(var(--nc) - 1))/var(--nc) + var(--b)) 100%,
    100% calc((100% - var(--b)*(var(--nr) - 1))/var(--nr) + var(--b));
}
.qr{
  padding: 1em;
  width: 80%;
  margin: 0 auto;
}
.Collapsible__contentInner{
  height: 10%;
}
